@charset "utf-8";

@use "sass:map";
@use "sass:color";

* {
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    color: inherit;
    line-height: 140%;
    font-style: normal;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: keep-all;
    touch-action: auto;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    &::-webkit-scrollbar {
        width: .3rem;
        background-color: transparent;
        border-radius: .6rem;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #D9D9D9;
    }
}

*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
//     scrollbar-gutter: stable;
}

body {
    font-size: 1rem;
    max-width: 76.8rem;
    background-color: #0C0C0C;
    margin: 0 auto;
}

html,
body {
    font-family: "Pretendard", sans-serif;
    letter-spacing: 0;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul,
ol,
li {
    list-style: none;
}

em,
i,
cite,
code,
address {
    font-weight: normal;
    font-style: normal;
}

a,
ins {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
    caption {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        border: 0;
        white-space: nowrap;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        overflow: hidden;
    }
}
button {
    border: none;
    background: none;
    cursor: pointer;
    &:focus:not(:focus-visible) {
        outline: 0;
    }
}
.btn {
    padding: 0;
    border: none;
}
ol,
ul,
p {
    margin: 0;
    padding: 0;
}

label,
img,
input,
select,
textarea,
button,
a {
    vertical-align: middle;
}
img {
    display: block;
    width: 100%;
}

input,
button,
select,
textarea {
    font-family: unset;
    appearance: none;
    border-radius: 0;
}

sub {
    font-size: smaller;
    vertical-align: text-bottom;
}

input[type=search] {
    padding-right: 0;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
}

input {
    outline: none;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    z-index: 1072;
}
.fade {
    opacity: 0;
    transition: opacity .15s linear;
}
.fade.show {
    opacity: 1;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal {
    height: 100%;
    .modal-body {
        padding: 0;
    }
}
.modal-dialog {
    justify-content: center;
    max-width: unset;
    margin: 0;
    pointer-events: auto;
}
.modal-content {
    max-width: 50rem;
}
.modal-backdrop {
    background-color: transparent;
}