<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./include/_head.ejs') %>
</head>
<body>
    <div class="wrap">
        <section class="section kv">
        </section>
        <section class="section pre_regi">
            <div class="inner">
                <div class="section_head">
                    <h2 class="tit">
                        NEW 오픈 축하 기념!
                        <p class="subtit">2억원 상당 포인트가 쏟아진다!</p>
                    </h2>
                    <span class="date">2.23 ~ 3.22</span>
                </div>
                <div class="section_body">
                    <div class="content event1">
                        <div class="content_head">
                            <span class="cate">Event 1</span>
                            <h3 class="tit">경품 EVENT</h3>
                            <p class="txt">
                                사전 알림 신청하면 경품 응모 완료!<br>
                                추첨을 통해 <span class="accent">2만 분께 쇼핑 지원금</span>을 드립니다.
                            </p>
                        </div>
                        <div class="content_body">
                            <ol class="list">
                                <li>
                                    <div class="list_wrap">
                                        <span class="rank">1</span>
                                        <p class="point">10,000,000 P</p>
                                        <span class="tag">1명</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="list_wrap">
                                        <span class="rank">2</span>
                                        <p class="point">1,000,000 P</p>
                                        <span class="tag">10명</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="list_wrap">
                                        <span class="rank">3</span>
                                        <p class="point">50,000 P</p>
                                        <span class="tag">100명</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="list_wrap">
                                        <span class="rank">4</span>
                                        <p class="point">10,000 P</p>
                                        <span class="tag">5,000명</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="list_wrap">
                                        <span class="rank">5</span>
                                        <p class="point">5,000 P</p>
                                        <span class="tag">150,000명</span>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <div class="content_foot">
                            <p class="txt">당첨자 발표: 2026.3.31(화) 예정</p>
                            <span class="note">※ PUSH/LMS 동의 유지 필수!</span>
                        </div>
                    </div>
                    <div class="content event2">
                        <div class="content_head">
                            <span class="cate">Event 2</span>
                            <h3 class="tit">
                                100% 당첨!<br>
                                랜덤 포인트 박스
                            </h3>
                            <p class="txt">
                                사전 알림 신청만 완료해도 즉시 포인트가<br>
                                적립되는 포인트 박스를 열 수 있어요!
                            </p>
                        </div>
                        <div class="content_body">

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section invite">
            <div class="inner">
                <div class="section_head">
                    <div class="tit">초대만 해도 추가 포인트
                        <p class="subtit">
                            내가 보낸 초대장으로 친구가 신청을<br>
                            완료할 때마다 랜덤 포인트 박스가 지급돼요!
                        </p>
                    </div>
                </div>
                <div class="section_body">
                    <div class="content point-reward">
                        <button class='btn'>
                            <p class="btn_txt">
                                초대장 보내고 랜덤 포인트 받기
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="22" viewBox="0 0 12 22" fill="none">
                                    <path d="M4 5L10 11C10 11 5.81818 15.1818 4 17" stroke="black" stroke-width="1.5"/>
                                </svg>
                            </p>
                        </button>
                    </div>
                    <div class="content my-point">
                        <div class="content_head">
                            <em class="tit">
                                내가 모은 포인트<br>
                                <span class="point">199,999 P</span>
                            </em>
                        </div>
                        <div class="content_body">
                            <div class="item friend">
                                <em class="tit">내가 초대한 친구</em>
                                <span class="txt">1,999 명</span>
                            </div>
                            <div class="item point-box">
                                <em class="tit">나의 포인트 박스</em>
                                <span class="txt">
                                    2개
                                    <button class="btn">
                                        <span class="btn_txt">열기</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section welcome">
            <div class="inner">
                <div class="section_head">
                    <div class="tit">
                        새로워진 지금!<br>
                        신규 가입 웰컴팩 증정
                    </div>
                    <span class="note">* 계정당 최초 1회 한정</span>
                </div>
                <div class="section_body">
                    <img src="../assets/images/welcome_bg.png" alt="할인 쿠폰 15%, 포인트 적입 최대 5,000P(앱 설치 시 3천+PUSH 동의 시 2천P, 할인권 1만원)">
                </div>
            </div>
        </section>
    </div>
</body>
<%- include('./include/_footer.ejs') %>
</html>