body.stop {
    overflow: hidden;
}
//글로벌 버튼
#wrap {
    .global-btn {
        display: block;
    }
}
.global-btn {
    display: none;
    position: fixed;
    bottom: 0;
    max-width: 76.8rem;
    width: 100%;
    height: 11.8rem;
    padding: 1.2rem 2rem;
    background-color: #0C0C0C;
    z-index: 11;
    .btn {
        width: 100%;
        padding: 1.7rem 2rem;
        background: radial-gradient(97.07% 95.3% at 48.09% 47.12%, #2EB789 0%, #5ED99B 100%);
        border: .2rem solid #2EB789;
        border-radius: 3.2rem;
        box-shadow: -4px -4px 3px 0 rgba(0, 0, 0, 0.20) inset, 4px 4px 2px 0 rgba(255, 255, 255, 0.40) inset;
        .btn-txt {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 140%;
            color: #fff;
        }
        &:disabled,
        &.disable {
            border: .2rem solid #333;
            background: #333;
            box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.20) inset, -4px -4px 2px 0 rgba(255, 255, 255, 0.10) inset;
            pointer-events: none;
            .btn-txt {
                color: #bababa;
            }
        }
    }
} 
// 앵커
.anchor {
    position: sticky;
    top: 0;
    height: 5.2rem;
    padding: 0 2rem;
    background-color: #0C0C0C;
    border-bottom: .1rem solid #222;
    z-index: 10;
    .anchor-list {
        display: flex;
        justify-content: space-between;
        text-align: center;
        >li {
            max-width: calc(100%/3);
            padding: 1.3rem 0;
            .anchor-txt {
                font-size: 1.5rem;
                font-weight: 900;
                line-height: 150%;
                color: rgba(255,255,255,0.5);
            }
            &.active {
                border-bottom: .2rem solid #5ED99B;
                .anchor-txt {
                    font-weight: 800;
                    color: #5ED99B;
                }
            }
        }
    }
}
.section {
    position: relative;
    .anchor-pin {
        position: absolute;
        top: -5.2rem;
    }
    .section-head {
        text-align: center;
        .tit {
            font-family: 'Gmarket Sans';
            font-size: 3rem;
            font-weight: 700;
            line-height: 140%;
            letter-spacing: -.1rem;
            color: #fff;
            ~.date {
                padding-top: 1.6rem;
            }
        }
        .subtit {
            padding-top: .2rem;
            font-size: 1.8rem;
            font-weight: 500;
        }
        .date {
            display: inline-block;
            font-family: 'Asul';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 150%;
            color: #fff;
            opacity: .8;
        }
        .note {
            display: inline-block;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 150%;
            color: #999;
        }
    }
    &.kv {
        padding-bottom: 2rem;
        [class*="kv-obj"] {
            position: absolute;
            aspect-ratio: 1/1;
            background-size: contain;
            background-position: center;
        }
        .kv-img {
            position: relative;
            pointer-events: none;
            .kv-obj {
                display: inline-block;
                will-change: transform;
                &1 {
                    width: 10.67%;
                    top: 49.1%;
                    left: 5.07%;
                    background-image: url("../images/obj-kv1.png");
                    animation: diamond-idle 4.5s linear infinite;
                    animation-delay: -2.3s;
                }
                @keyframes diamond-idle {
                    0% {
                      transform: translate(0, 0) rotate(0deg);
                    }
                    25% {
                      transform: translate(3px, -5px) rotate(2deg);
                    }
                    50% {
                      transform: translate(0, -10px) rotate(0deg);
                    }
                    75% {
                      transform: translate(-3px, -5px) rotate(-2deg);
                    }
                    100% {
                      transform: translate(0, 0) rotate(0deg);
                    }
                  }
                &2 {
                    width: 16.71%;
                    top: 27.58%;
                    right: 7.024%;
                    background-image: url("../images/obj-kv2.png");
                    animation: star-idle 2.5s ease-in-out infinite;
                    animation-delay: -1.1s;
                }
                @keyframes star-idle {
                    0%, 100% {
                      transform: translateY(0) scale(1);
                    }
                    50% {
                      transform: translateY(-12px) scale(1.1);
                    }
                  }
                &3 {
                    width: 16%;
                    right: 2.13%;
                    bottom: 8.91%;
                    background-image: url("../images/obj-kv3.svg");
                    animation: heart-idle 3s ease-in-out infinite;
                }
                @keyframes heart-idle {
                    0%, 100% {
                      transform: translateY(0) rotateY(-10deg);
                    }
                    50% {
                      transform: translateY(-8px) rotateY(10deg);
                    }
                }
            }
        }
        .kv-body {
            margin-top: -16%;
            .dday {
                position: relative;
                text-align: center;
                .dday-txt {
                    display: inline-block;
                    padding: .8rem 1.6rem;
                    font-family: 'Gmarket Sans';
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 150%;
                    color: #fff;
                    background-color: #454545;
                    border-radius: 9.9rem;
                    .accent {
                        display: inline-block;
                        vertical-align: top;
                        color: #5ED99B;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 100%;
                    width: 2.2rem;
                    height: 1.4rem;
                    background-image: url("../images/obj_txtbox_tail2.svg");
                    background-repeat: no-repeat;
                    transform: translateX(-50%);
                }
            }
            .count-wrap {
                margin-top: 2.3rem;
                text-align: center;
                .count-txt {
                    display: inline-block;
                    font-size: 1.5rem;
                    font-weight: 500;
                    line-height: 140%;
                    color: #fff;
                }
                .count {
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    margin-top: 1.6rem;
                    .flip-card {
                        position: relative;
                        width: 4rem;
                        height: 7rem;
                        perspective: 1000px;
                    }
                    .top, .bottom {
                        background-size: contain;
                    }
                    .top, .bottom, .leaf-front, .leaf-back {
                        position: absolute;
                        left: 0; width: 100%; height: 50%;
                        background-size: 100% 200%; /* 이미지를 전체의 2배로 키워 상/하단 분리 */
                        background-repeat: no-repeat;
                        backface-visibility: hidden;
                        -webkit-backface-visibility: hidden;
                        // background-color: #333; /* 이미지 로드 전 배경색 */
                    }
            
                    .top, .leaf-front {
                        top: 0;
                        background-position: top; /* 이미지 윗부분만 표시 */
                        border-bottom: 1px solid rgba(0,0,0,0.3);
                    }
            
                    .bottom, .leaf-back {
                        bottom: 0;
                        background-position: bottom; /* 이미지 아랫부분만 표시 */
                    }
            
                    /* 4. 애니메이션 핵심 (Bounce 효과) */
                    .leaf {
                        position: absolute;
                        top: 0; width: 100%; height: 50%;
                        z-index: 2;
                        transform-origin: bottom;
                        transform-style: preserve-3d;
                        transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1), 
                                    opacity 0.1s; /* 짧은 페이드 인/아웃 */
                        
                        opacity: 0; /* 평소에는 숨김 */
                        pointer-events: none;
                    }
            
                    .flipping .leaf {
                        opacity: 1;
                    }
            
                    /* 콤마 스타일 */
                    .comma {display: inline-block; font-size: 3rem; font-weight: 400; line-height: 140%; margin: 0 2px; color: #DBDBDB;}
                }
            }
        }
    }
    &.invite {
        padding: 5rem 2rem;
        background-color: #222;
        overflow: hidden;
        .section-head {
            ~.section-body {
                margin-top: 4.3rem;
            }
        }
        .section-body {
            text-align: center;
            .content {
                &.point-reward {
                    .content-obj {
                        .txt-wrap {
                            position: relative;
                            display: inline-block;
                            padding: 1rem 1.6rem;
                            background-color: #3a3a3a;
                            border-radius: 9.9rem;
                            animation: bounce-reverse 1.4s infinite;
                            .txt {
                                font-family: "Gmarket Sans";
                                font-size: 1.4rem;
                                font-weight: 400;
                                line-height: 150%;
                                background: linear-gradient(271deg, #F1ABED 19.73%, #BFFFF8 49.73%, #17F6A0 79.73%);
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                text-align: center;
                            }
                            &::after {
                                content: '';
                                position: absolute;
                                left: 50%;
                                top: calc(100% - 0.4rem);
                                width: 2.2rem;
                                height: 1.4rem;
                                background-image: url("../images/obj_txtbox_tail.svg");
                                background-repeat: no-repeat;
                                transform: translateX(-50%) rotate(180deg) scaleX(-1);
                            }
                        }
                        @keyframes bounce-reverse {
                            0% {
                              transform: translateY(0);
                              animation-timing-function: ease-out;
                            }
                            50% {
                              transform: translateY(-0.8rem);
                              animation-timing-function: ease-in;
                            }
                            100% {
                              transform: translateY(0);
                            }
                          }
                        .obj-wrap {
                            display: flex;
                            gap: 3rem;
                            margin-top: 2.5rem;
                            >img {
                                position: relative;
                                left: 50%;
                                width: auto;
                                transform: translateX(-50%);
                            }
                        }
                    }
                    .btn {
                        position: relative;
                        top: -4rem;
                        padding: 1.5rem 2rem;
                        background-color: #5ED99B;
                        border-radius: .4rem;
                        .btn-txt {
                            display: flex;
                            align-items: center;
                            gap: .4rem;
                            font-size: 1.6rem;
                            font-weight: 700;
                            line-height: 140%;
                            color: #0c0c0c;
                        }
                    }
                }
                &.my-point {
                    .content-head {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: 5.8rem;
                        padding-left: 1.6rem;
                        text-align: left;
                        .tit {
                            display: block;
                            font-size: 1.5rem;
                            font-weight: 500;
                            line-height: 150%;
                            color: #fff;
                            .point {
                                display: inline-block;
                                font-family: 'Asul';
                                font-size: 2.4rem;
                                font-weight: 700;
                                line-height: 130%;
                            }
                        }
                        &::after {
                            content: '';
                            display: block;
                            width: 8rem;
                            height: 100%;
                            background-image: url("../images/invite_mypoint_coin.svg");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            margin-right: -.7rem;
                        }
                        ~.content-body {
                            margin-top: 2rem;
                        }
                    }
                    .content-body {
                        padding: 1.6rem;
                        background-color: #2d2d2d;
                        border-radius: .4rem;
                        .item {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .tit {
                                display: flex;
                                align-items: center;
                                font-size: 1.5rem;
                                font-weight: 500;
                                line-height: 150%;
                                color: #fff;
                            }
                            .txt {
                                font-size: 1.6rem;
                                font-weight: 700;
                                line-height: 130%;
                                color: #fff;
                            }
                            &.friend {
                                .tit {
                                    .unit {
                                        display: inline-block;
                                    }
                                    &::before {
                                        content: '';
                                        width: 2.2rem;
                                        height: 2.3rem;
                                        display: inline-block;
                                        margin-right: .8rem;
                                        background-image: url("../images/invite_mypoint_friend.svg");
                                        background-repeat: no-repeat;
                                    }
                                }
                            }
                            &.point-box {
                                .tit {
                                    .unit {
                                        display: inline-block;
                                    }
                                    &::before {
                                        content: '';
                                        display: inline-block;
                                        width: 2.2rem;
                                        height: 2.3rem;
                                        margin-right: .8rem;
                                        background-image: url("../images/invite_mypoint_point-box.svg");
                                        background-repeat: no-repeat;
                                    }
                                }
                                .txt {
                                    display: flex;
                                    align-items: center;
                                    .btn {
                                        padding: .4rem .6rem;
                                        margin-left: .8rem;
                                        background-color: #5ED99B;
                                        border-radius: .2rem;
                                        .btn-txt {
                                            font-size: 1.2rem;
                                            font-weight: 700;
                                            line-height: 100%;
                                            color: #0c0c0c;
                                        }
                                        &:disabled,
                                        &.disable {
                                            background-color: #4e4e4e;
                                            .btn-txt {
                                                color: #999;
                                            }
                                        }
                                    }
                                }
                            }
                            +.item {
                                margin-top: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal {
    // background-color: #3d3d3d;
    background-color: rgba(0,0,0,0.8);
    .modal-dialog {
        padding: 0 4rem;
        .modal-content {
            padding: 3rem 2rem 2rem 2rem;
            border: none;
            border-radius: 1.2rem;
            text-align: center;
            .modal-head {
                .subtit {
                    font-size: 1.4rem;
                    font-weight: 700;
                    line-height: 150%;
                    color: #019865;
                    ~.tit {
                        margin-top: .4rem;
                    }
                }
                .tit {
                    display: inline-block;
                    font-family: 'Gmarket Sans';
                    font-size: 1.8rem;
                    font-weight: 700;
                    line-height: 140%;
                    letter-spacing: -0.018rem;
                    color: #0c0c0c;
                    ~.txt {
                        margin-top: .4rem;
                    }
                }
                .txt {
                    font-size: 1.4rem;
                    font-weight: 500;
                    line-height: 140%;
                    color: #666;
                }
                ~.modal-body {
                    margin-top: 2rem;
                }
                ~.btn-wrap {
                    margin-top: 3rem;
                }
            }
            .modal-body {
                .modal-txt {
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 140%;
                    color: #0c0c0c;
                }
                ~.btn-wrap {
                    margin-top: 3rem;
                }
            }
            .mat-txt {
                padding: 1.2rem;
                margin-top: 2rem;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 140%;
                color: #0c0c0c;
                background-color: #edf9f3;
                border-radius: .4rem;
                .accent {
                    font-weight: 700;
                    color: #019865;
                }
            }
            .btn-wrap {
                .btn {
                    &.close {
                        width: 100%;
                        height: 4.6rem;
                        padding: 1.3rem 0;
                        background-color: #0c0c0c;
                        border-radius: .4rem;
                        .btn-txt {
                            display: inline-block;
                            font-size: 1.4rem;
                            font-weight: 700;
                            line-height: 140%;
                            color: #fff;
                        }
                        ~.notice {
                            margin-top: 1.2rem;
                        }
                    }
                }
            }
        }
        .btn.notice {
            .btn-txt {
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 140%;
                color: #999;
            }
            &.line {
                .btn-txt {
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        height: .1rem;
                        background-color: #999;
                    }
                }
            }
        }
    }
    &#regiComp {
        .modal-head {
            .tit {
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 10rem;
                    margin-top: 2rem;
                    background-image: url("../images/modal_noBox.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
            }
        }
    }
    &#pointBox,
    &#winning {
        z-index: 9999;
        .modal-content {
            position: relative;
            .fanfare {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 28rem;
                height: 28rem;
                transform: translate(-50%, -50%);
                pointer-events: none;
                z-index: 100;
            }
        }
        .modal-body {
            transform: scale(0.8);
            opacity: 0;
            transition: .4s ease;
            .modal-txt {
                font-family: 'Asul';
                font-size: 3rem;
                font-weight: 700;
                line-height: 130%;
                color: #000;
                .unit {
                    font-size: 2.8rem;
                    line-height: 100%;
                }
                ~.note {
                    margin-top: .4rem;
                }
            }
            .note {
                font-size: 1.2rem;
                font-weight: 500;
                line-height: 130%;
                color: #888;
            }
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 10rem;
                margin-top: .8rem;
                background-image: url("../images/modal_point_get.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
        &.show {
            .modal-body {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
    &#winning:not(.special) {
        .modal-head {
            .tit {
                font-family: 'Pretendard';
                font-weight: 800;
            }
        }
    }
    &#marketingAlarm {
        background-color: rgba(0,0,0,0.8);
        .modal-content {
            padding: 3rem 2rem 2rem;
            background-color: #fff;
            border-radius: 1.2rem;
        }
        .modal-head {
            .tit {
                font-family: 'Pretendard';
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 140%;
                color: #0c0c0c;
            }
        }
        .btn-wrap {
            margin-top: 3rem;
            .btn.close {
                width: 100%;
                padding: 1.3rem 0;
                text-align: center;
                .btn-txt {
                    font-size: 1.4rem;
                    font-weight: 700;
                    line-height: 140%;
                    color: #fff;
                }
            }
        }
    }
    &#marketingTerms {
        background-color: #fff;
        .modal-dialog {
            padding: 0 2rem;
        }
        .modal-head {
            position: relative;
            height: 5rem;
            .tit {
                padding: 1.25rem 0;
                font-size: 1.8rem;
                font-weight: 500;
                line-height: 140%;
                color: #0c0c0c;
                text-align: center;
            }
            .modal-close {
                position: absolute;
                top: 1.5rem;
                right: 0;
                .btn.close {
                    display: flex;
                    justify-self: flex-end;
                    width: 2rem;
                    height: 2rem;
                    background-image: url("../images/icon_close.svg");
                    background-size: contain;
                }
            }
        }
    }
    &#joined {
        .modal-head {
            .tit {
                font-family: 'Pretendard';
                font-weight: 800;
            }
        }
        .modal-body {
            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 10rem;
                margin-bottom: 2rem;
                background-image: url("../images/modal_joined_obj.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
    }
    &#guest {
        .modal-head {
            .tit {
                font-family: 'Pretendard';
                font-weight: 800;
            }
            ~.modal-body {
                margin-top: 3rem;
            }
        }
        .modal-body {
            .modal-txt,
            .btn-txt {
                font-size: 1.3rem;
                font-weight: 500;
                line-height: 150%;
                color: #666;
                .accent {
                    display: block;
                    line-height: 140%;
                    color: #0c0c0c;
                }
            }
        }
    }
    &#notWinning {
        z-index: 99999;
        .modal-txt {
            font-size: 1.4rem;
        }
    }
    &#end {
        background-color: #333;
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    .overlay-close {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        .btn.close {
            display: flex;
            justify-self: flex-end;
            width: 2rem;
            height: 2rem;
            background-image: url("../images/icon_close.svg");
            background-size: contain;
        }
    }
    &.box-opening {
        background-color: rgba(255,255,255);
        z-index: 9999;
        .overlay-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-color: rgba(0,0,0,0.8);
            .overlay-head {
                width: 12rem;
                aspect-ratio: 1/1;
                .img {
                    animation: intensify 0.5s ease-in-out infinite alternate;
                    @keyframes intensify {
                        0% { transform: rotate(0deg); }
                        25% { transform: rotate(-3deg) scale(1.02); }
                        50% { transform: rotate(3deg) scale(1.04); }
                        75% { transform: rotate(-5deg) scale(1.06); }
                        100% { transform: rotate(5deg) scale(1.08); }
                      }
                      
                }
                ~.overlay-content {
                    margin-top: 4rem;
                }
            }
            .overlay-body {
                text-align: center;
                .tit {
                    font-family: 'Gmarket Sans';
                    font-size: 1.8rem;
                    font-weight: 700;
                    line-height: 140%;
                    color: #fff;
                    ~.txt {
                        margin-top: 1.2rem;
                    }
                }
                .txt {
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 140%;
                    color: #fff;
                }
            }
        }
    }
    &.agree {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.8);
        .overlay-container {
            width: 100%;
            padding: 3rem 2rem 0;
            background-color: #fff;
            border-top-left-radius: 1.2rem;
            border-top-right-radius: 1.2rem;
            .overlay-head {
                .tit {
                    font-size: 2rem;
                    font-weight: 800;
                    line-height: 140%;
                    letter-spacing: -0.02rem;
                    color: #0c0c0c;
                }
                ~.overlay-body {
                    margin-top: 2rem;
                }
                ~.overlay-foot {
                    margin-top: 3rem;
                }
            }
            .overlay-body {
                .input-item {
                    display: flex;
                    align-items: center;
                    gap: .8rem;
                    padding: .8rem 0;
                    .checkbox {
                        width: 1.8rem;
                        height: 1.8rem;
                        background-image: url("../images/icon_checkbox_off.svg");
                        background-repeat: no-repeat;
                        background-size: contain;
                        &:checked {
                            background-image: url("../images/icon_checkbox_on.svg");
                        }
                    }
                    .label {
                        display: inline-block;
                        font-size: 1.5rem;
                        font-weight: 400;
                        line-height: 140%;
                        color: #0c0c0c;
                    }
                    .input-btn {
                        width: 1.6rem;
                        height: 1.6rem;
                        margin-left: auto;
                        background-image: url("../images/icon_arrow.svg");
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    &.all {
                        flex-wrap: wrap;
                        padding: 0.8rem 0 0;
                        .label {
                            font-weight: 600;
                        }
                        &::after {
                            content: '';
                            display: block;
                            margin: .4rem 0;
                            width: 100%;
                            height: .1rem;
                            background-color: #eee;
                        }
                    }
                }
                .sublist {
                    display: flex;
                    padding-left: 2.6rem;
                    gap: 2rem;
                    margin-bottom: .8rem;
                    .sublist-txt {
                        display: inline-block;
                        font-size: 1.5rem;
                        font-weight: 400;
                        line-height: 140%;
                        color: #0c0c0c;
                    }
                    .input-item {
                        padding: .4rem 0;
                    }
                }
                .note-wrap {
                    padding: 1rem 0;
                    .note {
                        position: relative;
                        padding-left: 1rem;
                        font-size: 1.3rem;
                        font-weight: 400;
                        line-height: 130%;
                        color: #888;
                        +.note {
                            margin-top: .6rem;
                        }
                        &::before {
                            content: '';
                            position: absolute;
                            top: 0.75rem;
                            left: 0;
                            width: .2rem;
                            height: .2rem;
                            background-color: #888;
                        }
                    }
                    &.bg {
                        padding: 1.2rem;
                        background-color: #f5f5f5;
                        border-radius: .4rem;
                    }
                }
                ~.overlay-foot {
                    margin-top: 3rem;
                }
            }
            .overlay-foot {
                padding: 1.2rem 0 5rem;
                .btn {
                    width: 100%;
                    padding: 1.7rem 2rem;
                    background-color: #0c0c0c;
                    border-radius: .4rem;
                    text-align: center;
                    .btn-txt {
                        font-size: 1.6rem;
                        font-weight: 700;
                        line-height: 140%;
                        color: #fff;
                    }
                }
            }
        }
    }
    &.login-area {
        background-color: #fff;
        overflow: auto;
        .overlay-container {
            position: relative;
            padding: 0 2rem 3.2rem;
            height: auto;
            .overlay-head {
                height: 5rem;
                text-align: center;
            }
            .overlay-body {
                position: relative;
                padding-top: 3.2rem;
                z-index: 1073;
                .tit {
                    margin-bottom: 4rem;
                    font-size: 2.8rem;
                    font-weight: 700;
                    line-height: 150%;
                    color: #0c0c0c;
                    text-align: center;
                }
                .content {
                    &.easy-login {
                        .content-obj {
                            width: 15.8rem;
                            height: 5.5rem;
                            padding-top: 1.1rem;
                            margin: 0 auto;
                            margin-bottom: .45rem;
                            background-image: url("../images/login_txtBalloon.png");
                            background-size: 100%;
                            background-repeat: no-repeat;
                            background-position: center;
                            text-align: center;
                            .obj-txt {
                                font-size: 1.3rem;
                                font-weight: 500;
                                line-height: 150%;
                                color: #0C0C0C;
                            }
                        }
                    }
                    &.email-login {
                        .btn-wrap {
                            margin-top: 2rem;
                            .btn {
                                padding: 1.3rem 0;
                                background-color: #0c0c0c;
                                border-radius: .4rem;
                                .btn-txt {
                                    font-size: 1.4rem;
                                    font-weight: 700;
                                    line-height: 140%;
                                    color: #fff;
                                }
                                &:disabled,
                                &.disabled {
                                    background-color: #eee;
                                    .btn-txt {
                                        color: #bababa;
                                    }
                                }
                            }
                        }
                    }
                }
                .btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: .4rem;
                    width: 100%;
                    padding: 1.1rem 2rem 1.1rem 1.6rem;
                    border-radius: .4rem;
                    .btn-txt {
                        font-size: 1.4rem;
                        font-weight: 700;
                        line-height: 140%;
                    }
                    &.kakao {
                        background-color: #FEE500;
                        .btn-txt {
                            color: #0C0C0C;
                        }
                    }
                    &.naver {
                        background-color: #03C75A;
                        .btn-txt {
                            color: #fff;
                        }
                    }
                    ~.btn {
                        margin-top: .8rem;
                    }
                }
                .line {
                    position: relative;
                    margin: 3rem 0;
                    text-align: center;
                    .line-txt {
                        position: relative;
                        display: inline-block;
                        width: 4.9rem;
                        font-size: 1.4rem;
                        font-weight: 500;
                        line-height: 140%;
                        color: #8c8c8c;
                        background-color: #fff;
                        z-index: 1;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100%;
                        height: .1rem;
                        background-color: #eee;
                        transform: translateY(-50%);
                    }
                }
                .input-item {
                    position: relative;
                    .input {
                        width: 100%;
                        padding: 1.6rem;
                        font-size: 1.4rem;
                        font-weight: 400;
                        line-height: 140%;
                        color: #0c0c0c;
                        border: .1rem solid #dcdcdc;
                        border-radius: .4rem;
                        &.email.value {
                            padding-right: 3rem;
                        }
                        &.pwd.value {
                            padding-right: 6rem;
                        }
                        &::placeholder {
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 140%;
                            color: #8c8c8c;
                        }
                    }
                    .input-btn {
                        position: absolute;
                        top: 1.6rem;
                        right: 1.6rem;
                        z-index: 10;
                        >svg {
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                    .error-txt {
                        display: none;
                        padding: .8rem 0;
                        font-size: 1.2rem;
                        font-weight: 400;
                        line-height: 140%;
                        color: #f33;
                    }
                    &.pwd {
                        .input-btn {
                            &.remove {
                                right: 4.6rem;
                            }
                        }
                    }
                    &.error {
                        .input {
                            border: .1rem solid #f33;
                        }
                        .error-txt {
                            display: block;
                        }
                    }
                    +.input-item {
                        margin-top: .8rem;
                    }

                }
                &::before {
                    content: '';
                    position: absolute;
                }
            }
        }
    }
    &.terms {
        background-color: #fff;
        z-index: 99999;
        .overlay-head {
            height: 5rem;
            padding: 1.25rem 2rem;
            .tit {
                font-size: 1.8rem;
                font-weight: 500;
                line-height: 140%;
                color: #0c0c0c;
                text-align: center;
            }
        }
        .overlay-body {
            height: calc(100vh - 5rem);
            padding-top: 2rem;
            overflow-y: auto;
            .content {
                padding: 2rem
            }
            .content-tit {
                display: inline-block;
                padding-bottom: 3rem;
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 140%;
                color: #0c0c0c;
            }
            .terms-list {
                >li {
                    +li {
                        padding-top: 3rem;
                    }
                }
                .list-tit {
                    display: inline-block;
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 140%;
                    color: #0c0c0c;
                    ~.list-txt {
                        padding-top: 1.2rem;
                    }
                }
                .list-txt {
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 140%;
                    color: #0c0c0c;
                }
            }
        }
    }
    &.hidden {
        display: none;
    }
}