.wrap {
    background-color: #000;
}
.section {
    &:not(.kv) {
        >.inner {
            transform: translateY(7rem);
            transition: .5s ease-in-out;
        }
    }
    &:not(.kv).up {
        >.inner {
            transform: translateY(0);
        }
    }
    &.kv {
        >.inner {
            position: relative;
            padding: 113.87% 4rem 3rem;

            .kv-typo {
                position: absolute;
                top: 0;
                left: 0;
            }
            .kv-text {
                position: relative;
                font-size: 2rem;
                font-weight: 600;
                color: #fff;
                text-align: center;
            }
        }
    }
    &.calendar {
        position: relative;
        >.inner {
            padding: 4rem 2rem 6rem;
            background-color: #fff;
            border-radius: 2.4rem;
            .calendar-head {
                margin-bottom: 1.2rem;
                text-align: center;
                .month {
                    display: inline-block;
                    min-width: 9.8rem;
                    padding: .7rem 1rem;
                    font-size: 2.6rem;
                    font-weight: 600;
                    color: #fff;
                    text-align: center;
                    background: #000;
                    border-radius: 5rem;
                }
                .calendar-text {
                    margin-top: 1rem;
                    font-size: 1.5rem;
                    font-weight: 400;
                    color: #000;
                }
            }
            .calendar-body {
                .weekdays-wrap {
                    display: flex;
                    justify-content: center;
                    .weekday {
                        flex-shrink: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 4.8rem;
                        height: 4.8rem;
                        font-family: "Pretendard", sans-serif;
                        font-size: 1.2rem;
                        font-weight: 400;
                        color: #8f8f8f;
                    }
                }
                .month-grid {
                    .week {
                        display: flex;
                        justify-content: center;
                        .day-wrap {
                            width: 4.8rem;
                            padding: .4rem 0;
                            text-align: center;
                            .day {
                                display: inline-block;
                                padding: .2rem .9rem;
                                padding-bottom: .4rem;
                                margin: 0 auto;
                                font-family: 'Pretendard', sans-serif;
                                font-size: 1.4rem;
                                font-weight: 500;
                                line-height: 100%;
                                color: #000;
                                border-radius: 1.8rem;
                            }
                            .btn {
                                content: '';
                                display: block;
                                width: 3.2rem;
                                height: 3.2rem;
                                margin: 0 auto;
                                margin-bottom: 1.2rem;
                                background-image: url('../images/icon_H_disable.png');
                                background-size: 100%;
                                transition: .3s ease;
                            }
                            &.enable .btn {
                                background-image: url('../images/icon_H_enable.png');
                                transform: rotate3d(0, 1, 0, 180deg);
                            }
                            &[class*='h-'] {
                                .btn {
                                    width: 4.2rem;
                                    height: 4.4rem;
                                    margin-bottom: 0;
                                    background-image: url('../images/icon_gift_disable.png');
                                }
                                &.enable .btn {
                                    background-image: url('../images/icon_gift_enable.png');
                                    animation: bounceGift .4s ease-in forwards;
                                }
                                @keyframes bounceGift {
                                    0% {
                                        transform: scale(1, 1);
                                    }
                                    30% {
                                        transform: scale(1.3, 1.3); /* 위로 튀면서 찌그러짐 */
                                    }
                                    60% {
                                        transform: scale(1.2, 1); /* 아래로 내려가며 찌그러짐 */
                                    }
                                    85%, 100% {
                                        transform: scale(1.2);
                                    }
                                }
                            }
                            &.h-top {
                                background-color: #F0F1FF;
                                border-top: .1rem solid #613FFE;
                                border-left: .1rem solid #613FFE;
                                border-right: .1rem solid #613FFE;
                                border-top-left-radius: .8rem;
                                border-top-right-radius: .8rem;
                            }
                            &.h-center {
                                background-color: #F0F1FF;
                                border: .1rem solid #613FFE;
                            }
                            &.h-deadCenter {
                                background-color: #F0F1FF;
                                border-top: .1rem solid #613FFE;
                                border-bottom: .1rem solid #613FFE;
                            }
                            &.h-bot {
                                background-color: #F0F1FF;
                                border-bottom: .1rem solid #613FFE;
                                border-left: .1rem solid #613FFE;
                                border-right: .1rem solid #613FFE;
                                border-bottom-left-radius: .8rem;
                                border-bottom-right-radius: .8rem;
                            }
                            &.prev-month,
                            &.next-month {
                                opacity: 0.4;
                                pointer-events: none;
                                .day {
                                    color: rgba(0, 0, 0, 0.60);
                                }
                            }
                            &.today {
                                .day {
                                    font-weight: 700;
                                    color: #fff;
                                    background-color: #9747FF;
                                }
                            }
                        }
                    }
                }
            }
            .btn-calendar {
                margin-top: 2rem;
                .btn-wrap {
                    position: relative;
                    border-radius: .8rem;
                    overflow: hidden;
                    .percent {
                        display: flex;
                        align-items: center;
                        padding: .2rem .6rem;
                        border-radius: 10rem;
                        &::before {
                            content: '';
                            display: block;
                            width: 1rem;
                            height: 2rem;
                            margin-right: .3rem;
                            mask-image: url("../images/icon_calendarBtn.svg");
                            mask-repeat: no-repeat;
                            mask-position: center left;
                        }
                    }
                    .btn {
                        position: relative;
                        display: flex;
                        width: 100%;
                        padding: 2.1rem 1.4rem;
                        pointer-events: none;
                        .num {
                            width: 2.4rem;
                            font-family: "Pretendard", sans-serif;
                            font-size: 1.4rem;
                            font-weight: 500;
                            text-align: right;
                        }
                        .btn-text {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            display: block;
                            font-size: 2.4rem;
                            font-weight: 600;
                            white-space: nowrap;
                            transform: translate(-50%, -50%);
                        }
                        &.complete {
                            pointer-events: auto;
                        }
                    }
                    .btn-gradient {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        padding: 2.1rem 1.4rem;
                        width: 100%;
                        pointer-events: none;
                    }
                    &.h-complete {
                        .btn {
                            background-color: #F0F1FF;
                            color: #D7D9EF;
                            .percent {
                                background-color: rgba(97, 63, 254, 0.09);
                                .num {
                                    color: rgba(97, 63, 254, 0.70);
                                }
                                &::before {
                                    background-color: #613FFE;
                                }
                            }
                        }
                        .btn-gradient {
                            position: absolute;
                            background-image: linear-gradient(90deg, #613FFE 0%, #2B7BF4 100%);
                            clip-path: polygon(0 0, 0% 0%, 0% 100%, 0% 100%);
                            transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
                            .percent {
                                display: inline-flex;
                                background-color: rgba(255, 255, 255, 0.09);
                                .num {
                                    display: inline-block;
                                    min-width: 2.4rem;
                                    font-family: "Pretendard", sans-serif;
                                    font-size: 1.4rem;
                                    font-weight: 500;
                                    text-align: right;
                                    color: rgba(255, 255, 255, 0.80);
                                }
                                &::before {
                                    background-color: #fff;
                                }
                            }
                            &::after {
                                content: 'H 완성 보상 받기';
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                display: block;
                                font-size: 2.4rem;
                                font-weight: 600;
                                color: #fff;
                                white-space: nowrap;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                    &.attend-complete {
                        .btn {
                            background-color: #E5F6F1;
                            color: #CAE0DA;
                            .percent {
                                background-color: rgba(0, 196, 141, 0.09);
                                .num {
                                    color: rgba(0, 196, 141, 0.70);
                                }
                                &::before {
                                    background-color: #00C48D;
                                }
                            }
                        }
                        .btn-gradient {
                            position: absolute;
                            background-image: linear-gradient(90deg, #00CE56 0%, #00D296 100%);
                            clip-path: polygon(0 0, 50% 0%, 50% 100%, 0% 100%);
                            transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
                            .percent {
                                display: inline-flex;
                                background-color: rgba(255, 255, 255, 0.20);
                                .num {
                                    display: inline-block;
                                    min-width: 2.4rem;
                                    font-family: "Pretendard", sans-serif;
                                    font-size: 1.4rem;
                                    font-weight: 500;
                                    text-align: right;
                                    color: rgba(255, 255, 255, 0.80);
                                }
                                &::before {
                                    background-color: #fff;
                                }
                            }
                            &::after {
                                content: '출첵 보상 받기';
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                display: block;
                                font-size: 2.4rem;
                                font-weight: 600;
                                color: #fff;
                                white-space: nowrap;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                    +.btn-wrap {
                        margin-top: .8rem;
                    }
                }
            }
        }
    }
    &.noti {
        margin-top: .4rem;
        >.inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2.9rem 4rem;
            background-color: #fff;
            border-radius: 2.4rem;
            .noti-body {
                .noti-title {
                    font-size: 1.8rem;
                    font-weight: 400;
                    color: #000;
                }
                .noti-desc {
                    font-family: "Pretendard", sans-serif;
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: #AAA;
                }
            }
            .input-noti {
                input[type=checkbox]{
                    position: absolute;
                    height: 0;
                    width: 0;
                    visibility: hidden;
                    &:checked + label:after {
                        left: calc(100% - .2rem);
                        background-image: url('../images/icon_checkbox_enable.svg');
                        transform: translateX(-100%);
                    }
                }

                label {
                    position: relative;
                    display: block;
                    width: 6rem;
                    height: 4.1rem;
                    background: #000;
                    border-radius: 10rem;
                    text-indent: -999rem;
                    cursor: pointer;
                    &::after {
                        content: '';
                        position: absolute;
                        top: .2rem;
                        left: .2rem;
                        width: 3.7rem;
                        height: 3.7rem;
                        background-image: url('../images/icon_checkbox_disable.svg');
                        border-radius: 50%;
                        transition: 0.3s ease;
                    }
                }
            }
        }
    }
    &.rewards {
        margin-top: .4rem;
        >.inner {
            padding: 4rem 2rem;
            background-color: #fff;
            border-radius: 2.4rem;
            .rewards-btn {
                display: inline-block;
                background-color: #F5F5F5;
                border-radius: 10rem;
                .btn {
                    display: flex;
                    align-items: center;
                    padding: .4rem;
                    padding-right: 1rem;
                    &::before {
                        content: '';
                        display: block;
                        width: 3.2rem;
                        height: 3.2rem;
                        margin-right: .6rem;
                        background-image: url("../images/icon_H_enable.png");
                        background-size: 100%;
                    }
                    .btn-text {
                        display: inline-block;
                        align-items: center;
                        padding-top: .1rem;
                        font-family: "Pretendard", sans-serif;
                        font-size: 1.4rem;
                        font-weight: 700;
                        color: rgba(0, 0, 0, 0.6);
                    }
                    &::after {
                        content: '';
                        flex-shrink: 0;
                        display: block;
                        width: 2rem;
                        height: 2rem;
                        margin-left: .2rem;
                        background-image: url("../images/icon_arrow01.svg");
                        opacity: 0.6;
                    }
                }
            }
            .cur-point {
                display: block;
                margin-top: 1rem;
                font-size: 4.8rem;
                font-weight: 800;
                color: #000;
                .point,
                .unit {
                    font-feature-settings: 'tnum'; /* OpenType에서 tabular numbers 사용 */
                    font-variant-numeric: tabular-nums; /* 표준 방식 */
                    font-family: 'HGGGothic', monospace; /* 또는 monospace */
                    display: inline-block;
                }
            }
            .sorting-btn-wrap {
                margin-top: 3.2rem;
                .sorting-btn-list {
                    display: flex;
                    align-items: center;
                    >li {
                        width: auto;
                        .btn {
                            padding: .9rem 1.5rem;
                            background-color: #fff;
                            border: .1rem solid rgba(0, 0, 0, 0.12);
                            border-radius: .8rem;
                            transition: .2s ease;
                            .btn-text {
                                display: inline-block;
                                font-family: "Pretendard", sans-serif;
                                font-size: 1.4rem;
                                font-weight: 600;
                                color: rgba(0, 0, 0, 0.6);
                                transition: .2s ease;
                            }
                            &.active {
                                background-color: #613FFE;
                                border-color: #613FFE;
                                .btn-text {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
            .rewards-list {
                margin-top: 2rem;
                .rewards-item {
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding: 1.6rem 2rem;
                    padding-right: 8rem;
                    background-color: #fff;
                    border-radius: 1.2rem;
                    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
                    .date-wrap {
                        position: absolute;
                        top: 0;
                        left: 2.5rem;
                        padding: .3rem 1rem;
                        background-color: #efefef;
                        border-radius: 0 0 .8rem .8rem;
                        backdrop-filter: blur(2rem);
                        .date {
                            font-size: 1.1rem;
                            font-weight: 600;
                            color: rgba(0, 0, 0, 0.5);
                        }
                    }
                    .img-wrap {
                        flex-shrink: 0;
                        width: 6.8rem;
                        height: 6.8rem;
                        border-radius: 50%;
                        background-color: #F5F5F5;
                    }
                    .text-wrap {
                        flex: 1;
                        margin-left: 1.6rem;
                        .caption {
                            display: block;
                            font-family: "Pretendard", sans-serif;
                            font-size: 1.2rem;
                            font-weight: 400;
                            line-height: 160%;
                            color: #613FFE;
                        }
                        .title-wrap {
                            margin: .6rem 0 .8rem;
                            .title {
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                font-size: 1.6rem;
                                font-weight: 400;
                                color: #000;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        .period {
                            display: block;
                            font-family: "Pretendard", sans-serif;
                            font-size: 1.2rem;
                            font-weight: 400;
                            line-height: 160%;
                            color: rgba(0, 0, 0, 0.5);
                        }
                    }
                    .status-wrap {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        min-width: 7.6rem;
                        border-top-right-radius: 1.2rem;
                        border-bottom-right-radius: 1.2rem;
                        overflow: hidden;
                        .btn {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            .btn-text {
                                display: inline-block;
                                font-family: "Pretendard", sans-serif;
                                font-size: .9rem;
                                font-weight: 700;
                                color: #fff;
                            }
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            top: .4rem;
                            left: -.5rem;
                            width: .8rem;
                            height: 100%;
                            background-image: url("../images/design_circle.svg");
                        }
                    }
                    &.link-reward {
                        .status-wrap {
                            background: linear-gradient(180deg, #613FFE 0%, #2B6EF4 100%);
                            .btn {
                                &::after {
                                    content: '';
                                    display: block;
                                    width: 2.4rem;
                                    height: 2.4rem;
                                    margin-top: .4rem;
                                    mask-image: url("../images/icon_arrow01.svg");
                                    mask-size: 100%;
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                    &.d-day {
                        .status-wrap {
                            background: linear-gradient(180deg, #00D296 0%, #00E25E 100%);
                            .btn {
                                .status {
                                    display: inline-block;
                                    margin-top: .2rem;
                                    font-family: "Pretendard", sans-serif;
                                    font-size: 2rem;
                                    font-weight: 700;
                                    color: #fff;
                                }
                            }
                        }
                    }
                    &.fin {
                        opacity: 0.4;
                        .text-wrap {
                            .caption {
                                color: rgba(0, 0, 0, 0.60);
                            }
                            .period {
                                color: rgba(0, 0, 0, 0.50);
                            }
                        }
                        .status-wrap {
                            background-color: #444;
                            .btn {
                                cursor: auto;
                                pointer-events: none;
                                .btn-text {
                                    color: rgba(255, 255, 255, 0.40);   
                                }
                                .status {
                                    display: inline-block;
                                    margin-top: .2rem;
                                    font-family: "Pretendard", sans-serif;
                                    font-size: 1.8rem;
                                    font-weight: 700;
                                    color: rgba(255, 255, 255, 0.40);
                                }
                            }
                        }
                    }
                    +.rewards-item {
                        margin-top: .8rem;
                    }
                }
            }
        }
    }
}