.section {
    .section_head {
        text-align: center;
        .tit {
            font-family: 'Gmarket Sans';
            font-size: 3rem;
            font-weight: 700;
            line-height: 140%;
            letter-spacing: -.1rem;
            color: #fff;
            ~.date {
                padding-top: 1.6rem;
            }
        }
        .subtit {
            padding-top: .2rem;
            font-size: 1.8rem;
            font-weight: 500;
        }
        .date {
            display: inline-block;
            font-family: 'Asul';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 150%;
            color: #fff;
            opacity: .8;
        }
        .note {
            display: inline-block;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 150%;
            color: #999;
        }
    }
    &.pre_regi {
        .inner {
            padding: 5rem 2rem 3rem;
            .section_head {
                ~.section_body {
                    margin-top: 3rem;
                }
            }
            .section_body {
                .content {
                    padding: 3rem 2rem 2rem;
                    background-color: #222;
                    border-radius: .4rem;
                    .content_head {
                        text-align: center;
                        .cate {
                            font-family: 'Asul';
                            font-size: 1.4rem;
                            font-weight: 700;
                            line-height: 150%;
                            color: #5ED99B;
                            ~.tit {
                                padding-top: .8rem;
                            }
                            ~.txt {
                                padding-top: 1rem;
                            }
                        }
                        .tit {
                            font-family: "Gmarket Sans";
                            font-size: 2.4rem;
                            font-weight: 700;
                            line-height: 130%;
                            color: #fff;
                            ~.txt {
                                padding-top: 1rem;
                            }
                        }
                        .txt {
                            font-size: 1.6rem;
                            font-weight: 500;
                            line-height: 150%;
                            color: #fff;
                            .accent {
                                font-weight: 700;
                                color: #5ED99B;
                            }
                        }
                        ~.content_body {
                            padding-top: 4rem;
                        }
                        ~.content_foot {
                            padding-top: 2rem;
                        }
                    }
                    &.event1 {
                        .content_body {
                            .list {
                                >li {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    padding: 1.1rem 1.6rem;
                                    background-color: rgba(255, 255, 255, 0.05);
                                    border-radius: .4rem;
                                    .list_wrap {
                                        display: flex;
                                        align-items: center;
                                        .rank {
                                            font-size: 1.8rem;
                                            font-weight: 700;
                                            line-height: 100%;
                                            color: #fff;
                                        }
                                        .point {
                                            padding: 0 1.2rem 0 1.6rem;
                                            font-family: 'Asul';
                                            font-size: 1.6rem;
                                            font-weight: 400;
                                            line-height: 150%;
                                            color: #fff;
                                        }
                                        .tag {
                                            padding: .4rem .6rem;
                                            font-size: 1.2rem;
                                            font-weight: 500;
                                            line-height: 100%;
                                            color: #fff;
                                            background-color: rgba(255, 255, 255, 0.10);
                                            border-radius: 9.9rem;
                                        }
                                    }
                                    +li {
                                        margin-top: .4rem;
                                    }
                                    &:nth-child(1) {
                                        background-color: rgba(255, 255, 255, 0.2);
                                        &::after {
                                            content: '';
                                            display: flex;
                                            width: 3.4rem;
                                            aspect-ratio: 1/1;
                                            background-image: url("../images/event1_rank_gold.svg");
                                            background-position: center;
                                            background-repeat: no-repeat;
                                        }
                                        .list_wrap {
                                            .rank,
                                            .point {
                                                color: #5ED99B;
                                            }
                                            .tag {
                                                font-weight: 700;
                                                color: #333;
                                                background-color: #5ED99B;
                                            }
                                        }
                                    }
                                    &:nth-child(2) {
                                        &::after {
                                            content: '';
                                            display: flex;
                                            width: 3.4rem;
                                            aspect-ratio: 1/1;
                                            background-image: url("../images/event1_rank_silver.svg");
                                            background-position: center;
                                            background-repeat: no-repeat;
                                        }
                                    }
                                    &:nth-child(3) {
                                        &::after {
                                            content: '';
                                            display: flex;
                                            width: 3.4rem;
                                            aspect-ratio: 1/1;
                                            background-image: url("../images/event1_rank_bronze.svg");
                                            background-position: center;
                                            background-repeat: no-repeat;
                                        }
                                    }
                                }
                            }
                            ~.content_foot {
                                padding-top: 2rem;
                            }
                        }
                        .content_foot {
                            text-align: center;
                            .txt {
                                font-size: 1.4rem;
                                font-weight: 600;
                                line-height: 150%;
                                color: #fff;
                            }
                            .note {
                                font-size: 1.3rem;
                                font-weight: 400;
                                line-height: 150%;
                                color: #999;
                            }
                        }
                    }
                    &.event2 {
                        padding-bottom: 3.2rem;
                        .content_body {
                            width: 27.4rem;
                            height: 26rem;
                        }
                    }
                    +.content { 
                        margin-top: 2rem;
                    }
                }
            }
        }
    }
    &.invite {
        padding: 5rem 2rem;
        background-color: #222;
        .section_head {
            ~.section_body {
                margin-top: 4rem;
            }
        }
        .section_body {
            text-align: center;
            .content {
                &.point-reward {
                    .btn {
                        padding: 1.5rem 2rem;
                        background-color: #5ED99B;
                        border-radius: .4rem;
                        .btn_txt {
                            display: flex;
                            align-items: center;
                            gap: .4rem;
                            font-size: 1.6rem;
                            font-weight: 700;
                            line-height: 140%;
                            color: #0c0c0c;
                        }
                    }
                }
                &.my-point {
                    .content_head {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: 5.8rem;
                        padding-left: 1.6rem;
                        text-align: left;
                        .tit {
                            display: block;
                            font-size: 1.5rem;
                            font-weight: 500;
                            line-height: 150%;
                            color: #fff;
                            .point {
                                display: inline-block;
                                font-family: 'Asul';
                                font-size: 2.4rem;
                                font-weight: 700;
                                line-height: 130%;
                            }
                        }
                        &::after {
                            content: '';
                            display: block;
                            width: 8rem;
                            height: 100%;
                            background-image: url("../images/invite_mypoint_coin.svg");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            margin-right: -.7rem;
                        }
                        ~.content_body {
                            margin-top: 2rem;
                        }
                    }
                    .content_body {
                        padding: 1.6rem;
                        background-color: #2d2d2d;
                        border-radius: .4rem;
                        .item {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .tit {
                                display: flex;
                                align-items: center;
                                font-size: 1.5rem;
                                font-weight: 500;
                                line-height: 150%;
                                color: #fff;
                            }
                            .txt {
                                font-size: 1.6rem;
                                font-weight: 700;
                                line-height: 130%;
                                color: #fff;
                            }
                            &.friend {
                                .tit {
                                    &::before {
                                        content: '';
                                        width: 2.2rem;
                                        height: 2.3rem;
                                        display: inline-block;
                                        margin-right: .8rem;
                                        background-image: url("../images/invite_mypoint_friend.svg");
                                        background-repeat: no-repeat;
                                    }
                                }
                            }
                            &.point-box {
                                .tit {
                                    &::before {
                                        content: '';
                                        display: inline-block;
                                        width: 2.2rem;
                                        height: 2.3rem;
                                        margin-right: .8rem;
                                        background-image: url("../images/invite_mypoint_point-box.svg");
                                        background-repeat: no-repeat;
                                    }
                                }
                                .txt {
                                    display: flex;
                                    align-items: center;
                                    gap: .8rem;
                                    .btn {
                                        padding: .4rem .6rem;
                                        background-color: #5ED99B;
                                        border-radius: .2rem;
                                        .btn_txt {
                                            font-size: 1.2rem;
                                            font-weight: 700;
                                            line-height: 100%;
                                            color: #0c0c0c;
                                        }
                                    }
                                }
                            }
                            +.item {
                                margin-top: 2rem;
                            }
                        }
                    }
                }
                +.content {
                    margin-top: 4rem;
                }
            }
        }
    }
    &.welcome {
        .inner {
            padding-top: 5rem;
        } 
        .section_head {
            padding: 0 2rem;
            .note {
                padding-top: .2rem;
            }
        }
    }
}