<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<title>HPOINT 캘린더 이벤트</title>

<!-- Swiper -->
<link rel="stylesheet" href="../assets/lib/swiper/css/swiper-bundle.min.css">
<script src="../assets/lib/swiper/js/swiper-bundle.min.js"></script>

<!-- Bootstrap -->
<link rel="stylesheet" href="../assets/lib/bootstrap/bootstrap.min.css">
<script src="../assets/lib/bootstrap/bootstrap.bundle.min.js"></script>

<!-- CountUp -->
<script src="../assets/lib/countUp/countUp.umd.js"></script>

<link rel="stylesheet" href="../assets/css/style.css">
<script src="../assets/js/ui.js"></script>