<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
<title>더현대 온라인 사전 신청</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="../assets/lib/bootstrap/bootstrap.min.css">
<script src="../assets/lib/bootstrap/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="../assets/css/style.css">
<script src="../assets/js/ui.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js"></script>